<center>
  <h1>İsmetacar DOĞAN</h1>
  <img src="http://www.horsecarecourses.com/.a/6a015391a867e3970b017d3db85d9d970c-pi" class="img-circle">
  <h2>Selam gençlik</h2>
  <%= link_to 'Blog\'a Göz At İstersen', posts_path, class: 'btn btn-primary btn-lg btn-block' %>
  <%= link_to 'Kitaplara Bakabilirsin',books_path, class: 'btn btn-primary btn-lg btn-block' %>
</center>
