<center>
<h1>Editing book</h1>
<img src="http://www.nkfu.com/wp-content/uploads/2010/10/kitap.gif" class="img-circle">
<%= render 'form' %>

<%= link_to 'Show', @book, class: 'btn btn-primary btn-xs' %> |
<%= link_to 'Back', books_path, class: 'btn btn-info btn-xs' %>
</center>