<center>
<h1>New book</h1>
<img src="http://www.nkfu.com/wp-content/uploads/2010/10/kitap.gif" class="img-circle">
<%= render 'form' %>

<%= link_to 'Back', books_path, class: 'btn btn-success btn-xs' %>
</center>