<center>
<h1>Yeni Gönderi</h1>
<img src="http://www.horsecarecourses.com/.a/6a015391a867e3970b017d3db85d9d970c-pi" class="img-circle">

<%= render 'form' %>
 
<%= link_to 'Geri', posts_path, class: 'btn btn-success btn-xs' %>
</center>